<h1>Welcome to #ClassicalMusicShop </h1>
<p>Click on a composer's name to see all of that composer's works.</p>
<% @composers.each do |composer| %>
  <li>
    <%= composer.last_name %>
    <%= composer.first_name %>
    <%= link_to 'Show works', composer_works_path(composer) %>
  </li>
<% end %>
