<table>
  <tr>
    <th>Publisher</th>
    <th>Description</th>
  </tr>
  <% @editions.each do |edition| %>
    <tr>
      <td><%= edition.publisher %></td>
      <td><%= edition.description %></td>
      <td><%= link_to 'Show more', work_edition_path(edition.work, edition) %></td>
    </tr>
  <% end %>
</table>
