<table>
  <tr>
    <th>Publisher</th>
    <th>Description</th>
  </tr>
  <% @editions.each do |edition| %>
    <tr>
      <td><%= edition.publisher.name %></td>
      <td>
      <% edition.works.each do |work| %>
        <%= link_to_edition(work.id, edition) %>
        <%= link_to_title(work.id, edition) %>
        <td><%= link_to 'Show more', work_edition_path(work.id, edition) %></td>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
