<header class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to "Classical Music Shop", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   main_home_path %></li>
        <li><%= link_to "View cart",   main_view_cart_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>